<div class="home-media-top">
  <video autoplay muted loop id="video1">
    <source src="../../assets/media/home-top-video.mp4" type="video/mp4">
  </video>
  <div class="ptext">
    <!-- <span class="border">
      Are You tired of boaring lifestyle?
    </span> -->
    <span class="border text_1">Do you wants to add parallax to your website</span>
    <span class="border text_2">Well ! You have come to the exactly right place</span>
  </div>
</div>



<section class="section section-light">
  <h2>Section 1</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam accusamus fugit eius exercitationem iste
    molestiae quos sequi eaque veritatis voluptates, modi, non culpa labore quas blanditiis ipsam voluptatibus
    cupiditate asperiores officiis, accusantium necessitatibus laborum? Sed, voluptate quo assumenda nostrum a officia
    eaque earum fugiat molestiae distinctio tempore, omnis esse qui, deleniti vero voluptatem possimus repudiandae quia
    necessitatibus optio aliquid recusandae exercitationem! Beatae rerum minima recusandae quibusdam hic. Est ab natus,
    quos ducimus similique ipsum necessitatibus minima nemo consequatur inventore, dolores optio placeat unde eum rerum
    dolorum quaerat vel nihil. Deserunt aliquam voluptatibus qui, explicabo tempore facere perspiciatis labore iste
    deleniti?
  </p>
</section>


<div class="first-image">
  <div class="ptext align-center">
    <span class="border transparent">
      Let's do some parallax.
    </span>
  </div>
</div>



<section class="section section-dark">
  <h2>Section 2</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam accusamus fugit eius exercitationem iste
    molestiae quos sequi eaque veritatis voluptates, modi, non culpa labore quas blanditiis ipsam voluptatibus
    cupiditate asperiores officiis, accusantium necessitatibus laborum? Sed, voluptate quo assumenda nostrum a officia
    eaque earum fugiat molestiae distinctio tempore, omnis esse qui, deleniti vero voluptatem possimus repudiandae quia
    necessitatibus optio aliquid recusandae exercitationem! Beatae rerum minima recusandae quibusdam hic. Est ab natus,
    quos ducimus similique ipsum necessitatibus minima nemo consequatur inventore, dolores optio placeat unde eum rerum
    dolorum quaerat vel nihil.
  </p>
</section>


<div class="second-image">
  <div class="ptext align-center">
    <span class="border box">
      Want some more ! scroll down.
    </span>
  </div>
</div>


<section class="section section-dark">
  <h2>Section 3</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam accusamus fugit eius exercitationem iste
    molestiae quos sequi eaque veritatis voluptates, modi, non culpa labore quas blanditiis ipsam voluptatibus
    cupiditate asperiores officiis, accusantium necessitatibus laborum? Sed, voluptate quo assumenda nostrum a officia
    eaque earum fugiat molestiae distinctio tempore, omnis esse qui, deleniti vero voluptatem possimus repudiandae quia
    necessitatibus optio aliquid recusandae exercitationem! Beatae rerum minima recusandae quibusdam hic. Est ab natus,
    quos ducimus similique ipsum necessitatibus minima nemo consequatur inventore, dolores optio placeat unde eum rerum
    dolorum quaerat vel nihil.
  </p>
</section>

<!-- When will you return -->
<div class="third-image"></div>


<section class="section section-light">
  <h2>Section 4</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam accusamus fugit eius exercitationem iste
    molestiae quos sequi eaque veritatis voluptates, modi, non culpa labore quas blanditiis ipsam voluptatibus
    cupiditate asperiores officiis, accusantium necessitatibus laborum? Sed, voluptate quo assumenda nostrum a officia
    eaque earum fugiat molestiae distinctio tempore, omnis esse qui, deleniti vero voluptatem possimus repudiandae quia
    necessitatibus optio aliquid recusandae exercitationem! Beatae rerum minima recusandae quibusdam hic. Est ab natus,
    quos ducimus similique ipsum necessitatibus minima nemo consequatur inventore, dolores optio placeat unde eum rerum
    dolorum quaerat vel nihil.
  </p>
</section>


<div class="fourth-image">
        <div class="ptext align-center">
          <span class="border box">
                Use it and Enjoy. Thanks
          </span>
        </div>
</div>
